.itemInfoArea
{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.itemInfoArea .topBox
{
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.itemInfoArea .bottomBox
{
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.itemInfoArea .lockOptions
{
    margin-top: auto;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.itemInfoArea .label
{
    display: -webkit-flex !important;
    align-items: center !important;
    font-size: 15px;
    color: #999999;
    white-space: nowrap;
}

.itemInfoArea .nameLabel
{
    padding-bottom: 5px;
}

.itemInfoArea .roleLabel
{
    padding: 5px 10px;
    border-bottom: solid 1px #cccccc;
}


.itemInfoArea input, .itemInfoArea select
{
    width: 100%;
    padding: 5px;
    border: solid 1px #cccccc;
    font-size: 15px;
}

.itemInfoArea select
{
    cursor: pointer;
}

.itemInfoArea input:focus-within, .itemInfoArea select:focus-within
{
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.itemInfoArea ::placeholder
{
    color: #cccccc;
}

.itemInfoArea button
{
    font-size: 15px;
    white-space: nowrap;
}

.itemInfoArea button:hover
{
    box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.itemInfoArea .editButton, .itemInfoArea .moveButton, .itemInfoArea .deleteButton, .itemInfoArea .openButton
{
    margin-bottom: 10px;
    width: 100%;
    padding: 5px 10px;
    border: solid 1px #cccccc;
    background-color: #cccccc;
    color: #000000;
    font-weight: bold;
}

.itemInfoArea .addRoleButton
{
    width: 100%;
    padding: 5px 10px;
    border: none;
    border-bottom: solid 1px #cccccc;
    background-color: #ffffff;
    color: #999999;
}

.itemInfoArea .statusBox
{
    display: grid;
    grid-template-columns: 0fr 0fr 0fr 0fr;
    grid-column-gap: 10px;
    padding: 5px 10px;
    border: solid 1px #cccccc;
}

.itemInfoArea .roleInfo
{
    display: grid;
    grid-template-columns: 0fr 1fr 0fr;
    grid-column-gap: 10px;
    padding: 10px;
    border-bottom: solid 1px #cccccc;
}

.itemInfoArea .time
{
    display: grid;
    grid-template-columns: 0fr 1fr;
    border-bottom: solid 1px #cccccc;
}

.itemInfoArea .timeInfo
{
    padding: 10px;
}

.itemInfoArea .timeTopBox
{
    display: grid;
    grid-template-columns: 0fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 10px;
    margin-bottom: 10px;
}

.itemInfoArea .timeMiddleBox
{
    display: grid;
    grid-template-columns: 0fr 0fr 0fr 0fr;
    grid-column-gap: 10px;
    margin-bottom: 10px;
}

.itemInfoArea .timeBottomBox
{
    display: grid;
    grid-template-columns: 0fr 0fr 0fr 0fr;
    grid-column-gap: 10px;
}

.itemInfoArea .useButton
{
    width: 20px;
    border: none;
}

.itemInfoArea .useButtonText
{
    display: inline-block;
    vertical-align: middle;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0.5px;
    word-spacing: 1px;
    writing-mode: vertical-lr;
    transform: scale(-1, -1);
}

.itemInfoArea .dayValue
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    padding: 0px 5px;
    border: solid 1px #cccccc;
    border-radius: 5px;
    font-size: 12px;
    font-weight: bold;
}

.itemInfoArea .timeValue, .itemInfoArea .stateValue, .itemInfoArea .powerValue
{
    font-size: 15px;
}

.itemInfoArea .trackValue
{
    width: 15px;
    height: 15px;
    margin: auto 0px;
    border: solid 1px #cccccc;
    border-radius: 5px;
}

.itemInfoArea .removeButton
{
    width: 10px;
    height: 10px;
    cursor: pointer;
}

.itemInfoArea .downArrowButton
{
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 10px solid #666666;
    cursor: pointer;
}

.itemInfoArea .rightArrowButton
{
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-left: 10px solid #666666;
    border-bottom: 5px solid transparent;
    cursor: pointer;
}