.itemInfoArea
{
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #ffffff;
}

.itemInfoContainer
{
    flex-grow: 1;
    overflow-y: scroll;
    height: 0px;
}

.itemInfoArea .topBox
{
    padding: 10px;
}

.itemInfoArea .bottomBox
{
    display: grid;
    grid-template-columns: 0fr 0fr 0fr 0fr 0fr;
    grid-column-gap: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.itemInfoArea .protocolFields
{
    padding-left: 10px;
    padding-right: 10px;
}

.itemInfoArea .lockBox
{
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.itemInfoArea input, .itemInfoArea select
{
    width: 100%;
    padding: 5px;
    border: solid 1px #e6e6e6;
    border-radius: 5px;
    background-color: #e6e6e6;
}

.itemInfoArea select
{
    padding: 4px 1px;
    cursor: pointer;
}

.itemInfoArea input:hover, .itemInfoArea select:hover
{
    border-color: #f2f2f2;
    background-color: #f2f2f2;
}

.itemInfoArea input:focus-within, .itemInfoArea select:focus-within
{
    border-color: #f2f2f2;
    background-color: #f2f2f2;
}

.itemInfoArea .label
{
    width: 100%;
    margin-bottom: 5px;
    color: #999999;
}

.itemInfoArea .daysLabel, .itemInfoArea .startLabel, .itemInfoArea .endLabel, .itemInfoArea .trackAccessLabel, .itemInfoArea .trackMissLabel
{
    display: -webkit-flex !important;
    align-items: center !important;
    margin-bottom: 0px;
    white-space: nowrap;
}

.itemInfoArea .PINInput, .itemInfoArea .protocolSelect, .itemInfoArea .hostInput, .itemInfoArea .portInput
{
    margin-bottom: 10px;
}

.itemInfoArea button
{
    height: 30px;
    width: 30px;
    padding: 4px;
    border: solid 1px #e6e6e6;
    border-radius: 5px;
    background-color: #e6e6e6;
    white-space: nowrap;
}

.itemInfoArea button:hover
{
    border-color: #f2f2f2;
    background-color: #f2f2f2;
}

.itemInfoArea .roleList
{
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.itemInfoArea .addRoleButton
{
    width: 100%;
    padding: 5px;
    background-color: #ffffff;
    color: #666666;
}

.itemInfoArea .roleInfo
{
    display: grid;
    grid-template-columns: 0fr 1fr 0fr;
    grid-column-gap: 10px;
    align-items: center;
    margin-bottom: 5px;
}

.itemInfoArea .time
{
    display: grid;
    grid-template-columns: 0fr 1fr;
    margin-bottom: 5px;
    border-radius: 5px;
}

.itemInfoArea .timeInfo
{
    padding: 5px;
    border: solid 1px #cccccc;
    border-left: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #ffffff;
}

.itemInfoArea .timeTopBox
{
    display: grid;
    grid-template-columns: 0fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 5px;
    margin-bottom: 5px;
}

.itemInfoArea .timeMiddleBox
{
    display: grid;
    grid-template-columns: 0fr 1fr 0fr 1fr;
    grid-column-gap: 5px;
    margin-bottom: 5px;
}

.itemInfoArea .timeBottomBox
{
    display: grid;
    grid-template-columns: 0fr 0fr 0fr 0fr;
    grid-column-gap: 5px;
}

.itemInfoArea .useButton
{
    height: 100%;
    width: 20px;
    padding: 0px;
    border: solid 1px;
    border-right: none;
    border-radius: 0px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.itemInfoArea .useButtonText
{
    display: inline-block;
    vertical-align: middle;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0.5px;
    word-spacing: 1px;
    writing-mode: vertical-lr;
    transform: scale(-1, -1);
}

.itemInfoArea .dayValue
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    padding: 0px 5px;
    border: solid 1px #cccccc;
    border-radius: 10px;
    font-size: 12px;
    font-weight: bold;
}

.itemInfoArea .timeValue
{
    padding: 5px;
    border: solid 1px #cccccc;
    border-radius: 5px;
}

.itemInfoArea .trackAccessValue, .itemInfoArea .trackMissValue
{
    width: 15px;
    height: 15px;
    margin: auto 0px;
    border: solid 1px #cccccc;
    border-radius: 10px;
}

.itemInfoArea .expandButton, .itemInfoArea .removeButton
{
    width: 10px;
    height: 10px;
    cursor: pointer;
}

.itemInfoArea .statusBox
{
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px;
    border: solid 1px #cccccc;
    background-color: #f2f2f2;
}

.itemInfoArea .propertyList
{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    column-gap: 5px;
    row-gap: 5px;
}

.itemInfoArea .propertyGroup
{
    display: grid;
    grid-template-columns: 0fr 0fr;
    grid-column-gap: 5px;
    width: min-content;
    display: -webkit-flex !important;
    align-items: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    white-space: nowrap;
}

.itemInfoArea .propertyName
{
    color: #999999;
}

.itemInfoArea .icon
{
    height: 20px;
    width: 20px;
}