.roleListArea
{
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #ffffff;
}

.roleListArea .topBox
{
    display: grid;
    grid-template-columns: 1fr 0fr 0fr;
    grid-column-gap: 10px;
    padding: 10px;
    border-bottom: solid 1px #cccccc;
}

.roleListArea .roleList
{
    flex-grow: 1;
    overflow-y: scroll;
    height: 0px;
    padding: 10px;
    padding-bottom: 5px;
}

.roleListArea .roleLink
{
    display: grid;
    grid-template-columns: 0fr 1fr;
    margin-bottom: 5px;
    text-decoration: none;
}

.roleListArea input
{
    width: 100%;
    padding: 5px;
    border: solid 1px #e6e6e6;
    border-radius: 5px;
    background-color: #e6e6e6;
}

.roleListArea input:hover
{
    border-color: #f2f2f2;
    background-color: #f2f2f2;
}

.roleListArea input:focus-within
{
    border-color: #f2f2f2;
    background-color: #f2f2f2;
}

.roleListArea .label
{
    width: 100%;
    margin-bottom: 5px;
    color: #999999;
}

.roleListArea button
{
    height: 30px;
    width: 30px;
    padding: 4px;
    border: solid 1px #e6e6e6;
    border-radius: 5px;
    background-color: #e6e6e6;
    white-space: nowrap;
}

.roleListArea button:hover
{
    border-color: #f2f2f2;
    background-color: #f2f2f2;
}

.roleListArea .roleButton
{
    width: 100%;
    padding: 5px;
    border-left: none;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    text-align: left;
}

.roleListArea .searchButton, .roleListArea .createRoleButton
{
    margin-top: auto;
}

.roleListArea .iconBox
{
    height: 30px;
    width: 30px;
    padding: 4px;
    border: solid 1px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.roleListArea .icon
{
    height: 20px;
    width: 20px;
}