.routes
{
    height: 100%;
    overflow: initial;
}

.routes .area
{
    height: 100%;
}

.overlay
{
  position: fixed;
  z-index: 1;
  height: 100%;
  width: 100%;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: rgba(0, 0, 0, 0.0);
}

.routes .otherBottomSection
{
    display: grid;
    grid-template-columns: 0fr 6fr;
    flex-grow: 1;
    height: 100%;
    padding-top: 45px;
}

.routes .topSection
{
    position: fixed;
    width: 100%;
}

.routes .bottomSection
{
    display: grid;
    grid-template-columns: 0fr 4fr 2fr;
    height: 100%;
    padding-top: 45px;
}

.routes .centerSection
{
    border-left: solid 1px #cccccc;
    border-right: solid 1px #cccccc;
}

.routes .fullSection
{
    border-left: solid 1px #cccccc;
}

.routes .areaSection
{
    height: 100%;
}

.routes .itemCenterArea
{
    display: grid;
    grid-template-columns: 2fr 3fr;
    height: 100%;
}

::-webkit-scrollbar
{
    width: 10px;
}

::-webkit-scrollbar-track
{
    background: #e6e6e6;
}

::-webkit-scrollbar-thumb
{
    background: #cccccc;
}

::-webkit-scrollbar-thumb:hover
{
    background: #b3b3b3;
}

::-webkit-scrollbar-thumb:active
{
    background: #999999;
}