.userInfoArea
{
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #ffffff;
}

.userInfoContainer
{
    flex-grow: 1;
    overflow-y: scroll;
    height: 0px;
}

.userInfoArea .topBox
{
    padding-top: 10px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.userInfoArea .middleBox
{
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.userInfoArea .bottomBox
{
    display: grid;
    grid-template-columns: 0fr 0fr 0fr;
    grid-column-gap: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.userInfoArea input, .userInfoArea select
{
    width: 100%;
    padding: 5px;
    border: solid 1px #e6e6e6;
    border-radius: 5px;
    background-color: #e6e6e6;
}

.userInfoArea select
{
    padding: 4px 1px;
    cursor: pointer;
}

.userInfoArea .nameInput
{
    margin-bottom: 10px;
}

.userInfoArea input:hover, .userInfoArea select:hover
{
    border-color: #f2f2f2;
    background-color: #f2f2f2;
}

.userInfoArea input:focus-within, .userInfoArea select:focus-within
{
    border-color: #f2f2f2;
    background-color: #f2f2f2;
}

.userInfoArea .label
{
    width: 100%;
    margin-bottom: 5px;
    color: #999999;
}

.userInfoArea .PINsLabel, .userInfoArea .rolesLabel
{
    margin-bottom: 0px;
}

.userInfoArea .daysLabel, .userInfoArea .startLabel, .userInfoArea .endLabel, .userInfoArea .trackAccessLabel, .userInfoArea .trackMissLabel
{
    display: -webkit-flex !important;
    align-items: center !important;
    margin-bottom: 0px;
    white-space: nowrap;
}

.userInfoArea button
{
    height: 30px;
    width: 30px;
    padding: 4px;
    border: solid 1px #e6e6e6;
    border-radius: 5px;
    background-color: #e6e6e6;
    white-space: nowrap;
}

.userInfoArea button:hover
{
    border-color: #f2f2f2;
    background-color: #f2f2f2;
}

.userInfoArea .PINList, .userInfoArea .roleList
{
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.userInfoArea .addPINButton, .userInfoArea .addRoleButton
{
    width: 100%;
    padding: 5px;
    background-color: #ffffff;
    color: #666666;
}

.userInfoArea .PIN
{
    display: grid;
    grid-template-columns: 1fr 0fr;
    grid-column-gap: 10px;
    align-items: center;
    margin-bottom: 5px;
}

.userInfoArea .roleInfo
{
    display: grid;
    grid-template-columns: 0fr 1fr 0fr;
    grid-column-gap: 10px;
    align-items: center;
    margin-bottom: 5px;
}

.userInfoArea .time
{
    display: grid;
    grid-template-columns: 0fr 1fr;
    margin-bottom: 5px;
    border-radius: 5px;
}

.userInfoArea .timeInfo
{
    padding: 5px;
    border: solid 1px #cccccc;
    border-left: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #ffffff;
}

.userInfoArea .timeTopBox
{
    display: grid;
    grid-template-columns: 0fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 5px;
    margin-bottom: 5px;
}

.userInfoArea .timeMiddleBox
{
    display: grid;
    grid-template-columns: 0fr 1fr 0fr 1fr;
    grid-column-gap: 5px;
    margin-bottom: 5px;
}

.userInfoArea .timeBottomBox
{
    display: grid;
    grid-template-columns: 0fr 0fr 0fr 0fr;
    grid-column-gap: 5px;
}

.userInfoArea .useButton
{
    height: 100%;
    width: 20px;
    padding: 0px;
    border: solid 1px;
    border-right: none;
    border-radius: 0px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.userInfoArea .useButtonText
{
    display: inline-block;
    vertical-align: middle;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0.5px;
    word-spacing: 1px;
    writing-mode: vertical-lr;
    transform: scale(-1, -1);
    user-select: none;
}

.userInfoArea .dayValue
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    padding: 0px 5px;
    border: solid 1px #cccccc;
    border-radius: 10px;
    font-size: 12px;
    font-weight: bold;
}

.userInfoArea .timeValue
{
    padding: 5px;
    border: solid 1px #cccccc;
    border-radius: 5px;
}

.userInfoArea .trackAccessValue, .userInfoArea .trackMissValue
{
    width: 15px;
    height: 15px;
    margin: auto 0px;
    border: solid 1px #cccccc;
    border-radius: 10px;
}

.userInfoArea .expandButton, .userInfoArea .removeButton
{
    width: 10px;
    height: 10px;
    cursor: pointer;
}

.userInfoArea .icon
{
    height: 20px;
    width: 20px;
}